<!-- start custom footer snippets -->
<div id="qr"><img src="{{site.baseurl}}/assets/images/qr.png" alt="mk-mode BLOG"></div>
<div id="google-ad-5"></div>
<div class="page__footer-etc">
  <strong>ブログ開設日</strong> <tt>2009-01-05</tt><br />
  <strong>サーバ連続稼働時間</strong> <tt id="uptime">Loading...</tt><br />
  <strong>Page View</strong><br />
  &emsp;合計 <tt id="pv-total">Loading...</tt><br />
  &emsp;今日 <tt id="pv-today">Loading...</tt><br />
  &emsp;昨日 <tt id="pv-yesterday">Loading...</tt><br />
  <small>※<a href="{{site.baseurl}}/privacy.html" title="「プライバシーポリシー」ページへ">プライバシーポリシー</a></small>
</div>
<p id="page-top">
  <a href="#">
    <i class="fa fa-angle-double-up fa-2x" aria-hidden="true"></i>
  </a>
</p>
<!-- end custom footer snippets -->
