<!-- start custom head snippets -->

<meta http-equiv="x-dns-prefetch-control" content="on">
<link rel="dns-prefetch" href="//pagead2.googlesyndication.com" />
<link rel="dns-prefetch" href="//googleads.g.doubleclick.net" />
<link rel="dns-prefetch" href="//tpc.googlesyndication.com" />
<link rel="dns-prefetch" href="//cm.g.doubleclick.net" />
<link rel="dns-prefetch" href="//www.gstatic.com" />
<link rel="dns-prefetch" href="//fonts.gstatic.com" />
<link rel='dns-prefetch' href='//use.fontawesome.com' />
<link rel="dns-prefetch" href="//twitter.com" />
<link rel="dns-prefetch" href="//www.facebook.com" />
{% comment %}
<link rel="dns-prefetch" href="//plus.google.com" />
<link rel="dns-prefetch" href="//b.hatena.ne.jp" />
{% endcomment %}
<link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.ico">
{% include analytics-providers/google.html %}
{% include ads/google_ads_for_mobile.html %}

<!-- end custom head snippets -->
